/* styles.css */
body {
  font-family: Arial, sans-serif;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
.genero-container img {
  width: 150px;
  height: 200px;
}

.genero {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  list-style: none;
}

.genero h4{
  width: 150px;
  flex-wrap: wrap;
  text-align: left;
  font-size: 10px;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}



